header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;

img{border-inline-color: white;}
.EclipseLogo{width: 8rem;
        border-radius: 100px;
        margin-top: 15px;}
    
    nav{
        ul{ 
        list-style-type: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: flex; 
        li{ 
            a{ text-decoration: none;
                margin: 10px;
                color: rgb(253, 187, 187);
               
            &:hover{
                color: rgb(255, 255, 255);
                transition: 1s;
            }
             }
            }  
           }
       } 
    }

.Boton{
    display: flex;
    align-items: center;
    img{width: 3rem;}
}

a{
 text-decoration: none;
 color: white;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}