@media screen and (max-width: 390px){

header{
    nav {
        li{
            a{
    position: fixed;}
    }
    }
}

main{position: absolute;}

.MasPedidas{
    background-image: none;
    background-color: pink;

    
}

h3{font-size: small;}

h4{font-size: small;}

h6{font-size: small;}

.redes-sociales-botones{
    
img{

 justify-content: center;
 padding-left: 80px;
}
}


}
